.jumbotron{
	background-color: #183269;
	color: white;
	margin-top: 50px;
}
footer{
	padding: 20px 20px 0px 20px;
	background-color:#B6BED6;
	margin-bottom:	0px;
}
.card{
	flex: 1 300px
}
.btn{
	background-color: #8B91A3;

}

body{

}
.container{
	padding: 20px 20px 20px 20px;
}
.card-img-top{
	padding-bottom: 10px;
}